.signup {
    margin-top: 80px;
    font-size: 24px;
}

.signup h2 {
    margin-top: 144px;
    text-align: center;
    font-weight: normal;
}

.signup-form {
    width: 480px;
    border-radius: 16px;
    background-color: #F6F8FA;
    margin: 64px auto;
    padding: 64px 80px;
}

.signup-form input {
    margin: 24px 0;
    width: 480px;
    height: 64px;
    border: 1px solid #EBEDEF;
    border-radius: 16px;
}

.btn_submit {
    margin-top: 40px;
    width: 480px;
    height: 64px;
    color: white;
    font-size: 24px;
    border: 0;
    border-radius: 16px;
    background-color: #2EA44F;
}