.youtube-player {
    padding-top: 70px;
    display: flex;
}

/* video frame */

.youtube-player .video-frame {
    width: 920px;
    margin-right: 50px;
}

.youtube-player .video-frame h1 {
    color: #001833;
    font-size: 40px;
    margin-bottom: 20px;
}

.youtube-player .video-frame h2 {
    color: #2F7AF9;
    font-size: 18px;
    margin-bottom: 4px;
}

.youtube-player .video-frame a {
    text-decoration: none;
    color: #8898BF;
    font-size: 18px;
}

/* caption */

.youtube-player .caption {
    border-top: rgba(255, 255, 255, 0.12) solid 1px;
    position: relative;
    top: -4px;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2f3f65;
    font-size: 32px;
    margin-bottom: 20px;
}

/* script */

.youtube-player .script .tab {
    margin-left: 20px;
    color: white;
    background-color: #8898BF;
    width: 110px;
    height: 38px;
    border-radius: 5px 20px 0 0;
    border: none;
    border-bottom: rgba(255, 255, 255, 0.12) solid 1px;
}

.youtube-player .script .tab.selected {
    background-color: #001833;
}

/* content */

.youtube-player .content {
    min-width: 370px;
    width: 470px;
    height: 80vh;
    color: white;
    background-color: #001833;
    border: none;
    border-radius: 20px;
    padding: 30px;
    font-size: 18px;
    line-height: 24px;
    overflow: scroll;
}

.youtube-player .content li {
    position: relative;
    display: flex;
    align-items: flex-start;
    list-style: none;
    padding-bottom: 8px;
}

.youtube-player .content .time-stamp {
    min-width: 32px;
    text-align: left;
    color: #B4D0FF;
    background-color: transparent;
    border: none;
    margin-right: 30px;
    font-size: 18px;
}

.youtube-player .time-stamp:hover {
    color: #FFCC00;
}

.youtube-player .content p {
    display: inline-block;
}

/* footer */
.youtube-player footer {
    margin-top: 100px;
}

/* drag select */

.youtube-player * {
    user-select: none;
}

.ds-selected {
    color: #FFCC00;
    background-color: #2F3F65;
}

.youtube-player .content li .repetition {
    display: none;
}

.youtube-player .content li.ds-selected .repetition {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 30px;
    background-color: #FFCC00;
    color: white;
    border-radius: 20px;
    padding: 5px;
}

.youtube-player .content li.ds-hover:last-child .repetition {
    display: block;
}

.youtube-player .content li.ds-selected .repetition:hover {
    cursor: pointer;
    box-shadow: 0 0 8px white;
}