.contents {
  color: #001833;;

  h1 {
    color: #2f3f65;
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .box {
    background-color: white;
    border-radius: 30px;
    padding: 32px;

    .level-filter,
    .category-filter {
      border: #F2F6FE 1px solid;
      border-radius: 12px;
      padding: 24px;
      margin-bottom: 24px;
    }

    .filter {
      p {
        font-weight: bold;
      }
    }

    .category-filter {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .filter {
        width: 300px;
      }

      .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
          display: block;
          width: 20%;
          cursor: pointer;
        }

        .item.selected {
          color: #1a59fa;
          font-weight: bold;
        }
      }
    }
  }
}