@import "./mixin";
@import "./text-size";

%modal-button {
  @include inline-flexbox;
  width: 200px;
  height: 60px;
  margin: 0 15px;
  font-size: $normal-font-size;
  color: white;
  border-radius: 30px;
  border: none;
}

.button-ok {
  @extend %modal-button;
  background-color: #2f7af9;
}

.button-cancel {
  @extend %modal-button;
  background-color: #2f3f65;
}