@import "./mixin";
@import "./text-size";

%modal-button {
  @include inline-flexbox;
  width: 200px;
  height: 60px;
  font-size: $normal-font-size;
  color: white;
  border-radius: 24px;
}

.button-ok {
  background-color: #2f7af9;
}

.button-cancel {
  background-color: #2f3f65;
}