@import "../../../global/styles/text-size";

.evaluation-modal {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2f3f65;
  width: 1200px;

  h1 {
    font-size: $sub-title-size;
    margin-top: 24px;
  }

  p {
    font-size: $small-font-size;
    margin-top: 24px;
    margin-bottom: 36px;
  }

  .btn-container {
    display: flex;
  }
}