.youtube-player {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  /* video frame */
  /* caption */
  /* script */
  /* content */
  /* recoded-list */
  /* footer */
  /* drag select */
  /* dropdown */
}
.youtube-player .video-frame h1 {
  color: #001833;
  font-size: 32px;
  margin-bottom: 20px;
}
.youtube-player .video-frame h2 {
  color: #2f7af9;
  font-size: 16px;
  margin-bottom: 4px;
}
.youtube-player .video-frame a {
  text-decoration: none;
  color: #8898bf;
  font-size: 16px;
}
.youtube-player .caption {
  width: 800px;
  border-top: rgba(255, 255, 255, 0.12) solid 1px;
  position: relative;
  top: -4px;
  height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background-color: #2f3f65;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 0 48px;
  overflow: hidden;
}
.youtube-player .caption .record-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24px;
  width: 48px;
  height: 48px;
  font-size: 30px;
  background-color: #ff0077;
  opacity: 0.5;
  border-radius: 24px;
  cursor: pointer;
}
.youtube-player .caption .record-icon #stop {
  width: 20px;
  height: 20px;
}
.youtube-player .caption .record-icon:hover {
  opacity: 1;
}
.youtube-player .script .tabs {
  display: flex;
}
.youtube-player .script .tabs .tab {
  cursor: pointer;
  margin-left: 20px;
  color: white;
  background-color: #8898bf;
  width: 110px;
  height: 38px;
  border-radius: 5px 20px 0 0;
  border: none;
  border-bottom: rgba(255, 255, 255, 0.12) solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 8px;
}
.youtube-player .script .tabs i {
  font-size: 24px;
  margin-right: 6px;
}
.youtube-player .script .tab.selected {
  background-color: #001833;
}
.youtube-player .content {
  min-width: 360px;
  width: 448px;
  height: 700px;
  color: white;
  background-color: #001833;
  border: none;
  border-radius: 20px;
  padding: 24px;
  font-size: 16px;
  line-height: 24px;
}
.youtube-player .content li {
  position: relative;
  display: flex;
  align-items: flex-start;
  list-style: none;
  padding: 0 8px 8px;
}
.youtube-player .content .time-stamp {
  min-width: 32px;
  text-align: left;
  color: #b4d0ff;
  background-color: transparent;
  border: none;
  margin-right: 30px;
  font-size: 16px;
}
.youtube-player .time-stamp:hover {
  color: #ffcc00;
}
.youtube-player .content p {
  display: inline-block;
}
.youtube-player .content .recoded-list li {
  position: relative;
  display: flex;
  align-items: center;
  width: 390px;
  height: 80px;
  background-color: #2f3f65;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 16px;
}
.youtube-player .content .recoded-list li .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #ff0077;
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 16px;
}
.youtube-player .content .recoded-list li:hover {
  cursor: pointer;
  background-color: #f2f6fe;
  color: #001833;
}
.youtube-player .content .recoded-list li h3 {
  position: relative;
  top: -15px;
  font-size: 16px;
  font-weight: normal;
}
.youtube-player .content .recoded-list li p.time-line {
  position: absolute;
  left: 81px;
  bottom: 15px;
  font-size: 16px;
  font-weight: normal;
}
.youtube-player .content .recoded-list li p.datetime {
  position: absolute;
  font-size: 16px;
  font-style: italic;
  right: 15px;
  bottom: 15px;
}
.youtube-player .current-sentence {
  color: #00FFD3 !important;
}
.youtube-player footer {
  margin-top: 100px;
}
.youtube-player * {
  user-select: none;
}
.youtube-player .ds-selected {
  color: #ffcc00;
  background-color: #2f3f65;
}
.youtube-player .content li .bookmark-icon,
.youtube-player .content li .repetition {
  display: none;
}
.youtube-player .content li.ds-selected .bookmark-icon {
  display: block;
  position: absolute;
  bottom: 8px;
  right: 50px;
  font-size: 24px;
  background-color: #ffcc00;
  color: white;
  border-radius: 20px;
  padding: 5px;
  opacity: 0.85;
  cursor: pointer;
}
.youtube-player .content li.ds-selected .repetition {
  display: block;
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 24px;
  background-color: #ffcc00;
  color: #8898bf;
  border-radius: 20px;
  padding: 5px;
  opacity: 0.85;
  cursor: pointer;
}
.youtube-player .content li.ds-selected.playing .repetition {
  color: white;
}
.youtube-player .content li.ds-selected .repetition:hover {
  box-shadow: 0 0 8px white;
  color: white;
}
.youtube-player .dropdown {
  margin-top: 24px;
  max-width: 400px;
  color: #2f3f65;
  background-color: white;
  border-radius: 4px;
  border: #8898bf 1px solid;
}
.youtube-player .Dropdown-option {
  padding: 8px;
  border-top: #8898bf 1px solid;
}
.youtube-player .Dropdown-placeholder {
  display: inline-block;
  padding: 8px;
}
.youtube-player .Dropdown-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
  color: #001833;
}

/*# sourceMappingURL=YoutubePlayer.css.map */
