.payment-method {
  color: #2f3f65;
  text-align: center;
}

.payment-method h1 {
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 500;
}

.payment-method .description {
  font-size: 22px;
  margin-bottom: 32px;
}

/* card */

.payment-method .card {
  margin: 0 auto;
  width: 544px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  border-radius: 30px;
  padding: 50px 40px;
}

.payment-method h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.payment-method .selected-model {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  height: 60px;
  background-color: #f2f6fe;
  border-radius: 30px;
  font-size: 20px;
  margin-bottom: 40px;
}

.payment-method .p-icon {
  display: inline-block;
  position: relative;
  top: 0;
  width: 33px;
  height: 33px;
  background-color: #2f7af9;
  font-size: 22px;
  color: white;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}

.payment-method .selected-model strong {
  color: #2f7af9;
  font-size: 26px;
  font-weight: 600;
}

.payment-method .selection {
  display: flex;
  justify-content: space-between;
}

.payment-method input {
  width: 148px;
  height: 60px;
  background-color: #f2f6fe;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #8898bf;
  margin-bottom: 18px;
}

.payment-method input.selected {
  color: white;
  background-color: #2f7af9;
}

.payment-method .card .description {
  color: white;
  background-color: #2f3f65;
  font-size: 14px;
  text-align: left;
  padding: 18px 15px;
  border-radius: 5px;
}

.payment-method .card button {
  background-color: #2f7af9;
  border: none;
  border-radius: 30px;
  color: white;
  width: 200px;
  height: 60px;
  font-size: 20px;
}
