.ReactModalPortal {
    border-radius: 15px;
    overflow: hidden;
}

dialog {
    border-radius: 15px;
    margin: auto auto;
    z-index: 1;
    font-family: "NotoSansCJKkr", serif;
}

#modal {
    border-radius: 15px;
    margin: auto auto;
    font-family: "NotoSansCJKkr", serif;
}

.modal {
    display: block;
    width: 1200px;
    color: #2F3F65;
    background-color: white;
    z-index: 10;
    padding-top: 45px;
    padding-bottom: 50px;
}

.modal h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 500;
}

.modal p {
    margin-bottom: 28px;
    font-size: 20px;
}

.modal h1,
.modal p {
    text-align: center;
}

.modal input {
    width: 950px;
    margin: 0 auto;
    display: block;
    background-color: #F2F6FE;
    font-size: 18px;
    padding: 8px 24px;
    border: none;
}

.modal input::placeholder {
    color: #8898BF;
}

.modal .btn-container {
    display: flex;
    justify-content: center;
}

.modal .btn-container button {
    font-size: 20px;
    margin: 0 15px;
}

.modal button {
    display: block;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 30px;
    color: white;
}

.modal button.ok {
    background-color: #2F7AF9;
}

.modal button.cancel {
    background-color: #2F3F65;
}