@media screen and (min-width: 1025px) {
  .ReactModalPortal {
    border-radius: 15px;
    overflow: hidden;
  }

  dialog {
    border-radius: 15px;
    margin: auto auto;
    z-index: 1;
    font-family: "NotoSansCJKkr", serif;
  }

  #modal {
    border-radius: 15px;
    margin: auto auto;
    font-family: "NotoSansCJKkr", serif;
  }

  .modal {
    display: block;
    width: 1200px;
    color: #2f3f65;
    background-color: white;
    z-index: 10;
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .modal h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 500;
  }

  .modal p {
    margin-bottom: 28px;
    font-size: 20px;
  }

  .modal button {
    cursor: pointer;
  }

  .modal h1,
  .modal p {
    text-align: center;
  }

  .modal input::placeholder {
    color: #8898bf;
  }

  .modal .btn-container {
    display: flex;
    justify-content: center;
  }

  .modal button {
    font-size: 20px;
    margin: 0 15px;
    display: block;
    width: 200px;
    height: 60px;
    border: none;
    border-radius: 30px;
    color: white;
  }

  .modal button.ok {
    background-color: #2f7af9;
  }

  .modal button.cancel {
    background-color: #2f3f65;
  }
}

@media screen and (max-width: 1024px) {
  .ReactModalPortal {
    border-radius: 15px;
    overflow: hidden;
  }

  dialog {
    border-radius: 15px;
    margin: auto auto;
    z-index: 1;
    font-family: "NotoSansCJKkr", serif;
    padding: 24px;
  }

  #modal {
    border-radius: 15px;
    margin: auto auto;
    font-family: "NotoSansCJKkr", serif;
  }

  .modal {
    display: block;
    width: 90vw;
    color: #2f3f65;
    background-color: white;
    z-index: 10;
    padding-top: 45px;
    padding-bottom: 50px;
  }

  .modal h1,
  .modal p {
    text-align: center;
  }

  .modal p {
    margin-bottom: 24px;
  }

  .modal .btn-container {
    display: flex;
    justify-content: center;
  }

  .modal .btn-container button {
    font-size: 14px;
    margin: 0 15px;
    display: block;
    width: 120px;
    height: 36px;
    border: none;
    border-radius: 18px;
    color: white;
  }

  .modal button.ok {
    background-color: #2f7af9;
  }

  .modal button.cancel {
    background-color: #2f3f65;
  }
}
