@charset "UTF-8";
@media screen and (min-width: 1025px) {
  .login h1 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 56px;
    font-weight: 600;
  }

  .login .input {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 24px;
    width: 552px;
    height: 68px;
    border-radius: 10px;
    border: 1px solid #b4d0ff;
    font-size: 20px;
  }

  .login span {
    color: #2f7af9;
  }

  .login input {
    height: 28px;
    border: none;
    font-size: 20px;
    padding: 20px 24px;
  }

  .login input:focus {
    outline: none;
  }

  .login .btn-submit {
    display: block;
    margin: 0 auto 8px;
    width: 552px;
    height: 68px;
    border-radius: 10px;
    border: none;
    background-color: #2f7af9;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
  }

  .login .find-password {
    display: block;
    color: #2f3f65;
    text-align: center;
    margin-bottom: 40px;
  }

  .login .or {
    color: #8898bf;
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
  }

  .login p {
    font-size: 22px;
    color: #8898bf;
    text-align: center;
  }

  .login p a {
    color: #2f7af9;
  }

  /* sns login */
  /* google sign in custom */
  #customBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f6fe;
    width: 550px;
    height: 67px;
    border-radius: 10px;
    border: none;
    white-space: nowrap;
    margin-bottom: 30px;
  }

  #customBtn .google-icon {
    width: 24px;
    height: 24px;
    background-image: url("/src/assets/Google__G__Logo.svg");
  }

  #customBtn:hover {
    cursor: pointer;
  }

  #customBtn span.buttonText {
    color: #2f3f65;
    padding-left: 15px;
    font-size: 24px;
    font-weight: 600;
  }

  /* 네이버 아이디로 로그인 */
  #naverIdLogin {
    margin-bottom: 30px;
    cursor: pointer;
  }

  #naverIdLogin .xi-naver {
    color: #03c75a;
    margin-right: 12px;
    font-size: 30px;
  }

  #naverIdLogin_loginButton {
    color: #2f3f65;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 600;
    width: 550px;
    height: 67px;
    border: #e4e4e8 1px solid;
    border-radius: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 1024px) {
  .login {
    margin: 0 auto;
    padding: 0 24px;
  }

  .login h1 {
    text-transform: capitalize;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 40px;
    font-weight: 600;
  }

  .login .input {
    display: flex;
    align-items: center;
    padding-left: 24px;
    width: 100%;
    height: 68px;
    border-radius: 10px;
    border: 1px solid #b4d0ff;
    font-size: 20px;
  }

  .login span {
    color: #2f7af9;
  }

  .login input {
    height: 28px;
    border: none;
    font-size: 20px;
    padding: 20px 24px;
  }

  .login input:focus {
    outline: none;
  }

  .login .btn-submit {
    display: block;
    width: 100%;
    height: 68px;
    border-radius: 10px;
    border: none;
    background-color: #2f7af9;
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    margin-bottom: 8px;
  }

  .login .find-password {
    display: block;
    color: #2f3f65;
    margin-bottom: 24px;
    text-align: center;
  }

  .login .or {
    color: #8898bf;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .login p {
    font-size: 22px;
    color: #8898bf;
    text-align: center;
  }

  .login p a {
    color: #2f7af9;
  }

  /* 네이버 로그인 */
  #naverIdLogin {
    margin-bottom: 30px;
    width: 100%;
    cursor: pointer;
  }

  #naverIdLogin .xi-naver {
    color: #03c75a;
    margin-right: 12px;
    font-size: 30px;
  }

  #naverIdLogin_loginButton {
    color: #2f3f65;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    height: 67px;
    border: #e4e4e8 1px solid;
    border-radius: 10px;
    padding-right: 10px;
  }

  /* 구글 로그인 */
  #customBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f6fe;
    width: 100%;
    height: 67px;
    border-radius: 10px;
    border: none;
    white-space: nowrap;
    margin-bottom: 30px;
  }

  #gSignInWrapper {
    width: 100%;
  }

  #customBtn .google-icon {
    width: 24px;
    height: 24px;
    background-image: url("/src/assets/Google__G__Logo.svg");
  }

  #customBtn:hover {
    cursor: pointer;
  }

  #customBtn span.buttonText {
    color: #2f3f65;
    padding-left: 15px;
    font-size: 24px;
    font-weight: 600;
  }
}

/*# sourceMappingURL=Login.css.map */
