.find-password-page {
    display: flex;
    justify-content: space-between;
}

/* left */

.find-password-page .flex-left {
    margin-left: 240px;
}

.find-password-page h1 {
    margin-top: 216px;
    margin-bottom: 56px;
    font-size: 46px;
    font-weight: 500;
    color: #2F3F65;
    text-align: center;
}

.find-password-page a {
    font-size: 18px;
}

.find-password-page .authorization,
.find-password-page .email {
    margin-bottom: 30px;
}

.find-password-page .flex-left .input {
    display: flex;
    align-items: center;
    padding-left: 24px;
    width: 552px;
    height: 68px;
    border-radius: 10px;
    border: 1px solid #B4D0FF;
    font-size: 20px;
}

.find-password-page .flex-left span {
    color: #2F7AF9;
}

.find-password-page .flex-left input {
    height: 28px;
    border: none;
    font-size: 20px;
    padding: 20px 24px;
}

.find-password-page .flex-left input:focus {
    outline: none;
}

.find-password-page .email a {
    padding: 4px;
    display: block;
    text-align: right;
    color: #2F7AF9;
}

.find-password-page .authorization {
    position: relative;
}

.find-password-page .authorization a {
    position: absolute;
    color: #2F7AF9;
    right: 4px;
    bottom: 4px;
}

.find-password-page .authorization p {
    color: #FF1100;
    padding: 4px;
}

.find-password-page .password .input {
    margin-bottom: 30px
}

.find-password-page .btn-submit {
    display: block;
    width: 552px;
    height: 68px;
    border-radius: 10px;
    border: none;
    background-color: #2F7AF9;
    color: white;
    font-size: 24px;
    margin-bottom: 40px;
}

/* right */

.find-password-page .find-password-background {
    background-image: url("/src/assets/member.jpg");
    background-size: cover;
    background-position: center center;
    display: block;
    width: 888px;
    height: 627px;
    border-bottom-right-radius: 100px;
}

.find-password-page .flex-right {
    width: 888px;
    height: 1080px;
    background-color: #2F7AF9;
    border-bottom-left-radius: 200px;
    color: white;
}

.find-password-page .flex-right h2 {
    font-size: 56px;
    margin-top: 72px;
    margin-left: 108px;
    line-height: 69px;
    margin-bottom: 36px;
}

.find-password-page .flex-right p {
    font-size: 22px;
    margin-left: 108px;
}