main {
    display: flex;
    margin-top: 50px;
}

main {
    color: #2F3F65;
}

main h2 {
    font-size: 32px;
}

/* left */

.flex-left {
    margin: 112px 163px 0 263px;
}

.card {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.card span {
    position: absolute;
    bottom: 34px;
    color: #2F7AF9;
    font-size: 20px;
}

.flex-left .card {
    position: relative;
    width: 573px;
    height: 287px;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 45px;
}

.flex-left .card h2 {
    margin-bottom: 20px;
}

.flex-left .card i {
    color: white;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 24px 30px;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 186px;
    height: 186px;
    background-color: #2F7AF9;
    border-top-left-radius: 100%;
}

/* right */

main .home-background {
    display: block;
    width: 920px;
    height: 900px;
    background-image: url("/src/asset/home.jpg");
    background-position: center center;
    background-size: cover;
    border-top-left-radius: 200px;
}

main footer {
    margin-top: 112px;
}