footer {
    font-size: 14px;
    color: #B4D0FF;
    margin-bottom: 20px;
}

footer p {
    display: flex;
    align-items: center;
}

footer p i {
    margin-left: 20px;
}

.app-store {
    margin-left: 12px;
    width: 24px;
    height: 24px;
}