.login {
    margin-top: 80px;
    font-size: 24px;
}

.login h2 {
    margin-top: 144px;
    text-align: center;
    font-weight: normal;
}

.login-form {
    width: 480px;
    border-radius: 16px;
    background-color: #F6F8FA;
    margin: 64px auto;
    padding: 64px 80px;
}

.login-form input {
    margin: 24px 0;
    width: 480px;
    height: 64px;
    border: 1px solid #EBEDEF;
    border-radius: 16px;
}

.btn_submit {
    margin-top: 40px;
    width: 480px;
    height: 64px;
    color: white;
    font-size: 24px;
    border: 0;
    border-radius: 16px;
    background-color: #2EA44F;
}

.login-with-sns {
    width: 640px;
    height: 64px;
    border: 1px solid #EBEDEF;
    border-radius: 16px;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

.login-with-sns button {
    border: 0;
    background-color: white;
    font-size: 24px;
    margin-left: 156px;
}

#google-icon {
    margin: auto 0 auto 24px;
    width: 48px;
    height: 48px;
}