/* header */

.my-room h1 {
    color: #2F3F65;
    font-size: 40px;
 }

.my-room .nickname {
    color: #2F7AF9;
}

.my-room-header {
    margin-top: 60px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.my-room-header .my-point {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 416px;
    height: 60px;
    border-radius: 30px;
    background-color: white;
    padding-left: 32px;
    overflow: hidden;
}

.my-room-header .my-point span {
    color: #2F7AF9;
    font-weight: 600;
}

.my-room-header .my-point a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 60px;
    color: white;
    background-color: #1A59FA;
    text-decoration: none;
    border-top-left-radius: 30px;
}

/* content */

.my-room .content {
    display: flex;
    justify-content: space-between;
}

.my-room .content .decoration {
    width: 70px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #2F3F65;
    border-bottom-left-radius: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-room .content .decoration i {
    position: relative;
    top: -4px;
    right: -4px;
}

.my-room .content h2 {
    color: #2F3F65;
    font-size: 22px;
    margin-bottom: 22px;
}

.my-room .converted-content {
    background-color: white;
    border-radius: 30px;
    padding: 32px;
}

.my-room .video-content {
    position: relative;
    overflow: hidden;
    width: 996px;
    margin-bottom: 30px;
}

.my-room .audio-content {
    width: 416px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.my-room .content ul {
    display: flex;
}

.my-room .content li {
    list-style: none;
    margin-right: 36px;
}

.my-room .dummy {
    background-image: url("https://i.ytimg.com/vi/olGSAVOkkTI/mqdefault.jpg");
}

.my-room .youtube-content {
    position: relative;
    width: 285px;
    height: 180px;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.my-room .youtube-content p {
    padding-top: 12px;
    color: white;
    text-align: center;
}


.my-room .youtube-content .xi-play {
    position: absolute;
    right: 12px;
    bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #2F7AF9;
    color: white;
    border-radius: 50%;
}

.my-room .content .add-content {
    cursor: pointer;
}

.my-room .content .video-content .add-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8898BF;
    width: 285px;
    height: 180px;
    background-color: #F2F6FE;
    border-radius: 10px;
    border: 1px dashed #8898BF;
}

.my-room .content .video-content .add-content .xi-plus-circle {
    margin-bottom: 8px;
}

.my-room .content .audio-content .add-content {
    display: flex;
    align-items: center;
    align-content: center;
    color: #8898BF;
    width: 350px;
    height: 80px;
    background-color: #F2F6FE;
    border-radius: 10px;
    border: 1px dashed #8898BF;
}

.my-room .content .audio-content .add-content .xi-plus-circle {
     margin: 0 12px;
 }