.loading {
    background-color: #F2F6FE;
    padding: 12px 36px 15px;
    margin: 0 40px 34px;
    border-radius: 10px;
}

.loading p {
    color: #8898BF;
    font-size: 16px;
    margin-bottom: 8px;
}

.loading .progress-bar {
    border: #A6C4FB solid 1px;
    border-radius: 10px;
    height: 15px;
    background-color: white;
}

.loading .progress-bar .progress {
    width: 70%;
    height: 15px;
    border-radius: 10px;
    background-color: #1A59FA;
}