/* SourceSansPro */
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/SourceSansPro-Regular.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 400;
  src: url("/src/fonts/SourceSansPro-Italic.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/SourceSansPro-Bold.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 700;
  src: url("/src/fonts/SourceSansPro-BoldItalic.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 200;
  src: url("/src/fonts/SourceSansPro-ExtraLight.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 200;
  src: url("/src/fonts/SourceSansPro-ExtraLightItalic.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/SourceSansPro-Light.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 300;
  src: url("/src/fonts/SourceSansPro-LightItalic.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "SourceSansPro";
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: "SourceSansPro";
  font-style: italic;
  font-weight: 600;
  src: url("/src/fonts/SourceSansPro-SemiBoldItalic.ttf") format("truetype");
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
/* NotoSansKR */
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url("/src/fonts/NotoSansKR-Regular-Hestia.otf") format("opentype");
  src: url("/src/fonts/NotoSansKR-Regular-Hestia.woff") format("woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 500;
  src: url("/src/fonts/NotoSansKR-Medium-Hestia.otf") format("opentype");
  src: url("/src/fonts/NotoSansKR-Medium-Hestia.woff") format("woff");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  src: url("/src/fonts/NotoSansKR-Bold-Hestia.otf") format("opentype");
  src: url("/src/fonts/NotoSansKR-Bold-Hestia.woff") format("woff");
}
* {
  font-family: "SourceSansPro", "NotoSansKR", sans-serif;
}

body {
  font-family: "SourceSansPro", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* container */
@media screen and (min-width: 1025px) {
  .container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 24px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 100vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.button-cancel, .button-ok {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  margin: 0 15px;
  font-size: 16px;
  color: white;
  border-radius: 30px;
  border: none;
}

.button-ok {
  background-color: #2f7af9;
}

.button-cancel {
  background-color: #2f3f65;
}

.edit-profile .logo,
.login .logo,
.sign-up-page .logo {
  width: 64px;
  display: block;
  margin: 132px auto 0;
}

@font-face {
  font-family: "ishadow";
  src: url("fonts/ishadow.eot?f8zmo1");
  src: url("fonts/ishadow.eot?f8zmo1#iefix") format("embedded-opentype"), url("fonts/ishadow.ttf?f8zmo1") format("truetype"), url("fonts/ishadow.woff?f8zmo1") format("woff"), url("fonts/ishadow.svg?f8zmo1#ishadow") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ishadow" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-repeat:before {
  content: "\e900";
  color: #fff;
}

.icon-repeat-stop:before {
  content: "\e901";
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
