.audio-player {
    display: flex;
    margin-top: 80px;
}

.audio-background {
    width: 996px;
    height: 640px;
    background-image: url("../../asset/audio-background.png");
}

.caption {
    width: 996px;
    height: 100px;
    background-color: gray;
}

.script {
    width: 396px;
    height: 740px;
    border: 1px solid gray;
}