footer {
  margin-left: 24px;
  font-size: 14px;
  color: #b4d0ff;
}

footer p {
  display: flex;
  align-items: center;
}

footer p i {
  margin-left: 20px;
}

footer .app-store {
  margin-left: 12px;
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 1025px) {
  footer {
    font-size: 14px;
    color: #b4d0ff;
  }

  footer p {
    display: flex;
    align-items: center;
  }

  footer p i {
    margin-left: 20px;
  }

  footer .app-store {
    margin-left: 12px;
    width: 24px;
    height: 24px;
  }
}