.find-password-page {
  width: 550px;
  margin: 0 auto;
}

.find-password-page h1 {
  margin-top: 216px;
  margin-bottom: 56px;
  font-size: 46px;
  font-weight: 500;
  color: #2f3f65;
  text-align: center;
}

.find-password-page a {
  font-size: 18px;
}

.find-password-page .authorization,
.find-password-page .email {
  margin-bottom: 30px;
}

.find-password-page .input {
  display: flex;
  align-items: center;
  padding-left: 24px;
  width: 552px;
  height: 68px;
  border-radius: 10px;
  border: 1px solid #b4d0ff;
  font-size: 20px;
}

.find-password-page span {
  color: #2f7af9;
}

.find-password-page input {
  height: 28px;
  border: none;
  font-size: 20px;
  padding: 20px 24px;
}

.find-password-page input:focus {
  outline: none;
}

.find-password-page .email button {
  padding: 4px;
  display: block;
  margin-left: auto;
  font-size: 18px;
  border: none;
  background-color: white;
  color: #2f7af9;
  text-decoration: underline;
  cursor: pointer;
}

.find-password-page .authorization {
  position: relative;
}

.find-password-page .authorization a {
  position: absolute;
  color: #2f7af9;
  right: 4px;
  bottom: 4px;
}

.find-password-page .authorization button {
  position: absolute;
  color: #2f7af9;
  right: 4px;
  bottom: 4px;
  border: none;
  background-color: white;
  font-size: 18px;
  text-decoration: underline;
  cursor: pointer;
}

.find-password-page .authorization p {
  padding: 4px;
}

.find-password-page .password .input {
  margin-bottom: 30px;
}

.find-password-page .btn-submit {
  display: block;
  width: 552px;
  height: 68px;
  border-radius: 10px;
  border: none;
  background-color: #2f7af9;
  color: white;
  font-size: 24px;
  margin-bottom: 40px;
}